html{
	height:100%;
}
body{
	font-family:latha;
	color:white;
	background:linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0))
	,url(restaurant-interior_1127-3394.jpg)no-repeat;
	background-size: cover;
}
.box{
	width:900px;
	float: right;
	border:1px solid none;
}
.box ul li{
	width:120px;
	float:left;
	margin:10px ;
	text-align: center;
}
.box ul li a{
	text-decoration: none;
	color:darkgray
}
.box ul li:hover{background-color: rgb(240, 236, 38);}
.box ul li a:hover{color:rgba(0, 0, 0, 0.973)}
.wd{
    width: 300px;
    height: 539px;
    background-color: black;
    opacity: 0.9;
    padding: 55px;
} 
.wd h1{
	text-align: center;
	text-transform: uppercase;
	font: weight 100px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wd h4{
	text-align: justify;
	color:darkgrey;
	font-weight:normal ;
	font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}